<div class="footer">
    <div class="sections"></div>
    <div class="link">
        <div class="container">
            <a href="#">关于我们</a> | <a href="#">广告服务</a> | <a href="#">友情合作</a> | <a href="#">版权声明</a> | <a href="#">诚聘英才</a> | <a href="#">杂志订阅</a> | <a href="#">网站地图</a> | <a href="#">所有标签</a> | <a href="#">意见反馈</a>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p>Copyright 2013-2015 xxxx.com All rights reserved 豫ICP备00000000号</p>
        </div>
    </div>
</div>
