<div class="sidebar margin-top">
      <div class="reference border bg">
            <div class="title border-bottom">
                  <div class="bg">最新资讯</div>
                  <a class="right" href="#" target="_blank">更多</a>
            </div>
            <div class="content">
                  <ul>
                        <li><a href="#" target="_blank">这是一条测试用的资讯标题，仅仅为了看看效果而已！</a></li>
                        <li><a href="#" target="_blank">这是一条测试用的资讯标题，仅仅为了看看效果而已！</a></li>
                        <li><a href="#" target="_blank">这是一条测试用的资讯标题，仅仅为了看看效果而已！</a></li>
                        <li><a href="#" target="_blank">这是一条测试用的资讯标题，仅仅为了看看效果而已！</a></li>
                        <li><a href="#" target="_blank">这是一条测试用的资讯标题，仅仅为了看看效果而已！</a></li>
                  </ul>
            </div>
      </div>
      <div class="reference border bg margin-top">
            <div class="title border-bottom">
                  <div class="bg">创业者</div>
                  <a class="right" href="#" target="_blank">更多</a>
            </div>
            <div class="content">
                  <ul>
                        <li>
                              <div class="picture"><a href="#" target="_blank"><img src=""></a></div>
                              <div class="info">
                                    <h6><a href="#" target="_blank">公司名称</a></h6>
                                    <div>随便写点公司简介信息，用来测试UI样式。最多显示两行超出部分会隐藏！</div>
                              </div>
                        </li>
                        <li>
                              <div class="picture"><a href="#" target="_blank"><img src=""></a></div>
                              <div class="info">
                                    <h6><a href="#" target="_blank">公司名称</a></h6>
                                    <div>随便写点公司简介信息，用来测试UI样式。最多显示两行超出部分会隐藏！</div>
                              </div>
                        </li>
                        <li>
                              <div class="picture"><a href="#" target="_blank"><img src=""></a></div>
                              <div class="info">
                                    <h6><a href="#" target="_blank">公司名称</a></h6>
                                    <div>随便写点公司简介信息，用来测试UI样式。最多显示两行超出部分会隐藏！</div>
                              </div>
                        </li>
                        <li>
                              <div class="picture"><a href="#" target="_blank"><img src=""></a></div>
                              <div class="info">
                                    <h6><a href="#" target="_blank">公司名称</a></h6>
                                    <div>随便写点公司简介信息，用来测试UI样式。最多显示两行超出部分会隐藏！</div>
                              </div>
                        </li>
                        <li>
                              <div class="picture"><a href="#" target="_blank"><img src=""></a></div>
                              <div class="info">
                                    <h6><a href="#" target="_blank">公司名称</a></h6>
                                    <div>随便写点公司简介信息，用来测试UI样式。最多显示两行超出部分会隐藏！</div>
                              </div>
                        </li>
                  </ul>
            </div>
      </div>
      <div class="reference border bg margin-top">
            <div class="title border-bottom">
                  <div class="bg">投资人</div>
                  <a class="right" href="#" target="_blank">更多</a>
            </div>
            <div class="content">
                  <ul>
                        <li>
                              <div class="picture"><a href="#" target="_blank"><img src=""></a></div>
                              <div class="info">
                                    <h6><a href="#" target="_blank">公司名称</a></h6>
                                    <div>随便写点公司简介信息，用来测试UI样式。最多显示两行超出部分会隐藏！</div>
                              </div>
                        </li>
                        <li>
                              <div class="picture"><a href="#" target="_blank"><img src=""></a></div>
                              <div class="info">
                                    <h6><a href="#" target="_blank">公司名称</a></h6>
                                    <div>随便写点公司简介信息，用来测试UI样式。最多显示两行超出部分会隐藏！</div>
                              </div>
                        </li>
                        <li>
                              <div class="picture"><a href="#" target="_blank"><img src=""></a></div>
                              <div class="info">
                                    <h6><a href="#" target="_blank">公司名称</a></h6>
                                    <div>随便写点公司简介信息，用来测试UI样式。最多显示两行超出部分会隐藏！</div>
                              </div>
                        </li>
                        <li>
                              <div class="picture"><a href="#" target="_blank"><img src=""></a></div>
                              <div class="info">
                                    <h6><a href="#" target="_blank">公司名称</a></h6>
                                    <div>随便写点公司简介信息，用来测试UI样式。最多显示两行超出部分会隐藏！</div>
                              </div>
                        </li>
                        <li>
                              <div class="picture"><a href="#" target="_blank"><img src=""></a></div>
                              <div class="info">
                                    <h6><a href="#" target="_blank">公司名称</a></h6>
                                    <div>随便写点公司简介信息，用来测试UI样式。最多显示两行超出部分会隐藏！</div>
                              </div>
                        </li>
                  </ul>
            </div>
      </div>
      <div class="reference border bg margin-top">
            <div class="title border-bottom">
                  <div class="bg">近期活动</div>
                  <a class="right" href="#" target="_blank">更多</a>
            </div>
            <div class="content">
                  <ul>
                        <li>
                              <div class="item">
                                    <a href="#" target="_blank">
                                          <img src="">
                                          <h6>这是一条测试用的活动标题，鼠标停留才会显示！</h6>
                                    </a>
                              </div>
                        </li>
                        <li>
                              <div class="item">
                                    <a href="#" target="_blank">
                                          <img src="">
                                          <h6>这是一条测试用的活动标题，鼠标停留才会显示！</h6>
                                    </a>
                              </div>
                        </li>
                  </ul>
            </div>
      </div>
</div>