{template 'content', 'header'}

	<link rel="stylesheet" href="{WEB_PATH}statics/cy/css/commen.css">
	<link type="text/css" href="{WEB_PATH}statics/cy/css/index.css" rel="stylesheet">
	<script type="text/javascript" src="{WEB_PATH}statics/cy/js/jquery.min2.js"></script>

	<div id="main" class="com-width mt90 clearfix">

		<div class="index-wrap fl">
			<div class="index-wrap-hd clearfix">

				<div id="index-slider" class="fr">
{pc:content  action="position" posid="1"  order="listorder DESC" thumb="1" num="5"}
					<div class="slider-content has-dots" style="width: 890px; height: 350px; overflow: hidden;">
						<a href="javascript:;" class="slider-prev" style="opacity: 1;"></a>
						<a href="javascript:;" class="slider-next" style="opacity: 1;"></a>
						<ul style="position: relative; left: -200%; width: 600%; height: 350px;">
{loop $data $r}
							<li class="slider-item" style="float: left;">
								<a href="{$r['url']}" target="_blank" >
									<img src="{thumb($r['thumb'],890,350)}" alt="{$r['title']}" class="slider-img" title="">
									<span class="slider-info">{$r['title']}</span>
								</a>
							</li>
{/loop}							
						</ul>
{/pc}												
					</div>
				</div>

<!-- 
				<div class="slide">
		            <div class="FocusPic">
		            {pc:content  action="position" posid="1"  order="listorder DESC" thumb="1" num="5"}
		                <div class="content" id="main-slide">
		                    <div class="changeDiv">  
		                    {loop $data $r}
		                        <a href="{$r['url']}" title="{str_cut($r['title'],30)}">
		                            <img src="{thumb($r['thumb'],700,260)}" alt="{$r['title']}" width="700" height="260" />
		                        </a>
		                    {/loop}
		                    </div>
		                </div>
		            {/pc}
		            </div>
		            <div class="bk10"></div>
		        </div>
 -->

			</div>

<!-- 
		<div class="news-hot" style="height:100px;">


                    <div >
{pc:content  action="position" posid="2" order="listorder DESC" num="4"}
{loop $data $r}
                        <h4 class="blue"><a href="{$r[url]}" title="{$r[title]}">{str_cut($r[title],36,'')}</a></h4>
                        <p><img src="{thumb($r[thumb],90,60)}" width="90" height="60"/>{str_cut($r[description],112)}</p>
                        <div class="bk20 hr"><hr/></div>
{/loop}
{/pc}   
                    </div>
        </div>
 -->

			<div class="index-wrap-content  mt20 clearfix">
				<!--首页中间-->
				<div id="content" class="index-content fr">
					<div id="content-list" class="cyzone-data">
						<div class="articles">
{pc:content  action="position" posid="2" order="listorder DESC" num="4"}
{loop $data $r}

							<div class="content-item clearfix" data-articleid="281798">
								<div class="item-img fl">
									<a href="{$r[url]}" target="_blank">
										<img src="{thumb($r[thumb],230,147)}" alt="" title="">
									</a>
								</div>
								<div class="item-info fr">
									<h3 class="item-tit">
										<a href="{$r[url]}">{str_cut($r[title],36,'')}</a>
									</h3>
									<p class="item-intro">{str_cut($r[description],250)}</p>
<!-- 
																		<p class="item-other">
																			<span class="author fl">Hepburn</span>
																			<span class="time fr" data-time="1444878676" title="2015/10/15 上午11:11:16">17分钟前</span>
																		</p>
-->									
								</div>
							</div>
{/loop}
{/pc}
						</div>
					</div>

					<div class="ui-more">
						<a href="javascript:;">
							<span class="cyzone-more-txt">加载更多</span>
						</a>
					</div>
				</div>
			</div>
		</div>

		<!--首页右侧-->
		<div id="sidebar" class="sidebar fr">

			<!--排行榜-->
			<div id="sidebar-rank" class="sidebar-rank">
				<div class="sidebar-rank-tit">
					<a class="current" href="javascript:;">日排行</a>
					<a href="javascript:;">周排行</a>
					<a class="rank-tit-end" href="javascript:;">月排行</a>
				</div>

				<div class="sidebar-rank-content">
					<ul class="sidebar-rank-item show-item">
						<li>
							<a href="http://www.cyzone.cn/a/20151014/281742.html" target="_blank" >
								<span class="rank-num">1</span>
								Uber CEO18岁就开始创业；董明珠...
							</a>
						</li>
						<li>
							<a href="http://www.cyzone.cn/a/20151014/281774.html" target="_blank" >
								<span class="rank-num">2</span>
								我家楼下的O2O混战实录——不作死...
							</a>
						</li>
						<li>
							<a href="http://www.cyzone.cn/a/20151013/281704.html" target="_blank" >
								<span class="rank-num">3</span>
								2015双11全球狂欢节“剁手指南”：...
							</a>
						</li>
						<li>
							<a href="http://www.cyzone.cn/a/20151014/281758.html" target="_blank" >
								<span class="rank-num">4</span>
								以游族网络为例，看企业孵化器如何...
							</a>
						</li>
						<li>
							<a href="http://www.cyzone.cn/a/20151014/281730.html" target="_blank" >
								<span class="rank-num">5</span>
								中小手机厂商遇倒闭潮：沦为小米华...
							</a>
						</li>
						<li>
							<a href="http://www.cyzone.cn/a/20151014/281764.html" target="_blank" >
								<span class="rank-num">6</span>
								创业，切莫孤注一掷【读历史知创业...
							</a>
						</li>
						<li>
							<a href="http://www.cyzone.cn/a/20151014/281756.html" target="_blank" >
								<span class="rank-num">7</span>
								2015年家政O2O行业分析报告：得阿...
							</a>
						</li>
						<li>
							<a href="http://www.cyzone.cn/a/20151014/281773.html" target="_blank" >
								<span class="rank-num">8</span>
								阎焱：拥抱90后创业是扯淡；暴风科...
							</a>
						</li>
						<li>
							<a href="http://www.cyzone.cn/a/20151014/281720.html" target="_blank" >
								<span class="rank-num">9</span>
								喵鲜生：备货全球，大数据如何助力...
							</a>
						</li>
						<li>
							<a href="http://www.cyzone.cn/a/20151014/281767.html" target="_blank" >
								<span class="rank-num">10</span>
								谁说产品经理不是“麒麟才子”呢?
							</a>
						</li>
					</ul>

					<ul class="sidebar-rank-item">
						<li>
							<a href="http://www.cyzone.cn/a/20151013/281718.html" target="_blank" >
								<span class="rank-num">1</span>
								阎焱：创业数据造假已成常态，投资...
							</a>
						</li>
						<li>
							<a href="http://www.cyzone.cn/a/20151009/281438.html" target="_blank" >
								<span class="rank-num">2</span>
								90后创业者：为何我创业多次仍然失...
							</a>
						</li>
						<li>
							<a href="http://www.cyzone.cn/a/20151010/281497.html" target="_blank" >
								<span class="rank-num">3</span>
								历经数月呕心整理国内最全上门O2O...
							</a>
						</li>
						<li>
							<a href="http://www.cyzone.cn/a/20151010/281503.html" target="_blank" >
								<span class="rank-num">4</span>
								投资界名人马云思聪在教主“世纪婚...
							</a>
						</li>
						<li>
							<a href="http://www.cyzone.cn/a/20151008/281447.html" target="_blank" >
								<span class="rank-num">5</span>
								马云：别把我们和电商混为一谈，阿...
							</a>
						</li>
						<li>
							<a href="http://www.cyzone.cn/a/20151010/281523.html" target="_blank" >
								<span class="rank-num">6</span>
								产品经理再忙也要看《琅琊榜》
							</a>
						</li>
						<li>
							<a href="http://www.cyzone.cn/a/20151008/281446.html" target="_blank" >
								<span class="rank-num">7</span>
								10.8日融资： “挖挖”获数百万...
							</a>
						</li>
						<li>
							<a href="http://www.cyzone.cn/a/20151012/281643.html" target="_blank" >
								<span class="rank-num">8</span>
								从0到30万教师，阿里云如何助力跟...
							</a>
						</li>
						<li>
							<a href="http://www.cyzone.cn/a/20151012/281636.html" target="_blank" >
								<span class="rank-num">9</span>
								乔布斯也有“毒舌”一面；马化腾低...
							</a>
						</li>
						<li>
							<a href="http://www.cyzone.cn/a/20151013/281691.html" target="_blank" >
								<span class="rank-num">10</span>
								艾问徐小平：人人都可以创业吗？
							</a>
						</li>
					</ul>

					<ul class="sidebar-rank-item">
						<li>
							<a href="http://www.cyzone.cn/a/20151013/281718.html" target="_blank" >
								<span class="rank-num">1</span>
								阎焱：创业数据造假已成常态，投资...
							</a>
						</li>
						<li>
							<a href="http://www.cyzone.cn/a/20150916/280600.html" target="_blank" >
								<span class="rank-num">2</span>
								寒冬之际，90后创业者应该反思什么...
							</a>
						</li>
						<li>
							<a href="http://www.cyzone.cn/a/20150916/280626.html" target="_blank" >
								<span class="rank-num">3</span>
								阿里前副总裁：阿里巴巴给我上的10...
							</a>
						</li>
						<li>
							<a href="http://www.cyzone.cn/a/20150916/280588.html" target="_blank" >
								<span class="rank-num">4</span>
								直击德国工业（一）： 宝马工厂实...
							</a>
						</li>
						<li>
							<a href="http://www.cyzone.cn/a/20150916/280604.html" target="_blank" >
								<span class="rank-num">5</span>
								360周鸿祎：产品经理要有“四心”
							</a>
						</li>
						<li>
							<a href="http://www.cyzone.cn/a/20150915/280539.html" target="_blank" >
								<span class="rank-num">6</span>
								没发现敌人？这只能说明你的产品没...
							</a>
						</li>
						<li>
							<a href="http://www.cyzone.cn/a/20150915/280484.html" target="_blank" >
								<span class="rank-num">7</span>
								看360、小米、腾讯、搜狗等大公司...
							</a>
						</li>
						<li>
							<a href="http://www.cyzone.cn/a/20150915/280487.html" target="_blank" >
								<span class="rank-num">8</span>
								9.15融资清单：空格90天完成A轮1...
							</a>
						</li>
						<li>
							<a href="http://www.cyzone.cn/a/20150916/280586.html" target="_blank" >
								<span class="rank-num">9</span>
								烧钱也换不来用户的上门美容，出路...
							</a>
						</li>
						<li>
							<a href="http://www.cyzone.cn/a/20150915/280504.html" target="_blank" >
								<span class="rank-num">10</span>
								洪泰基金吴恒：互联网公司烧钱也要...
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="sidebar-specail">
				<div class="specail-hd clearfix">
					<span class="global-tit fl">专栏</span>
					<a class="fr FontAwesome block-tit-contributors" href="http://www.cyzone.cn/category/679/" target="_blank">
						更多 <i></i>
					</a>
				</div>
				<div class="specail-content">

					<div class="specail-item clearfix">
						<div class="specail-img fl">
							<a href="http://www.cyzone.cn/a/20151015/281619.html">
								<img class="middle-avatar" src="{WEB_PATH}statics/cy/cyimages/94_avatar_middle.jpg">
							</a>
						</div>
						<div class="specail-title">
							<a href="http://www.cyzone.cn/a/20151015/281619.html">如何通过2天的地推，获取到初创产品的第一批10w用户</a>
						</div>
					</div>
					<div class="specail-item clearfix">
						<div class="specail-img fl">
							<a href="http://www.cyzone.cn/a/20151014/281774.html">
								<img class="middle-avatar" src="{WEB_PATH}statics/cy/cyimages/58_avatar_middle.jpg">
							</a>
						</div>
						<div class="specail-title">
							<a href="http://www.cyzone.cn/a/20151014/281774.html">我家楼下的O2O混战实录——不作死也得死，早餐外卖快收手吧！</a>
						</div>
					</div>
					<div class="specail-item clearfix">
						<div class="specail-img fl">
							<a href="http://www.cyzone.cn/a/20151014/281743.html">
								<img class="middle-avatar" src="{WEB_PATH}statics/cy/cyimages/45_avatar_middle.jpg">
							</a>
						</div>
						<div class="specail-title">
							<a href="http://www.cyzone.cn/a/20151014/281743.html">信天创投王晔：17会火下去吗？【投资人说】</a>
						</div>
					</div>
					<div class="specail-item clearfix">
						<div class="specail-img fl">
							<a href="http://www.cyzone.cn/a/20151013/281718.html">
								<img class="middle-avatar" src="{WEB_PATH}statics/cy/cyimages/12_avatar_middle.jpg">
							</a>
						</div>
						<div class="specail-title">
							<a href="http://www.cyzone.cn/a/20151013/281718.html">阎焱：创业数据造假已成常态，投资史上20年未见</a>
						</div>
					</div>
					<div class="specail-item clearfix">
						<div class="specail-img fl">
							<a href="http://www.cyzone.cn/a/20151013/281694.html">
								<img class="middle-avatar" src="{WEB_PATH}statics/cy/cyimages/00_avatar_middle.jpg">
							</a>
						</div>
						<div class="specail-title">
							<a href="http://www.cyzone.cn/a/20151013/281694.html">创业者如何发现开放却未知的秘密（之二）【投资人说】</a>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

	<script src="{WEB_PATH}statics/cy/js/sea.js"></script>
	<!-- <script src="{WEB_PATH}statics/cy/cyimages/seajs-css.js"></script>-->
	<script type="text/javascript" src="{WEB_PATH}statics/cy/js/sea_config.js"></script>

{template 'content', 'footer'}