{template 'content', 'header'}
	<link href="{WEB_PATH}statics/cy/css/index-932be206bfa4e2a7cc01f4393c3ae2b6.css" media="all" rel="stylesheet">
	<div class="index-wrap">
		<div class="main-section" style="position: relative;">
			<div class="news-list J_articleListWrap" data-stat-module="Zhufeed">
				<div class="article-list">
					<div class="articles J_articleList">
						<article>
							<a class="pic info_flow_news_image badge-o2o before-fade-in after-fade-in" href="http://36kr.com/p/5038152.html" style="background-image: url(http://b.36krcnd.com/nil_class/87cb5372-e098-431f-8fed-21ad866fd916/yestone_HD_1120926847.jpg!feature);">
								<span class="mask-tags" data-type="o2o">O2O</span>
							</a>
							<div class="desc">
								<a class="title info_flow_news_title" href="http://36kr.com/p/5038152.html" target="_blank">高频打低频？玩坏了的逻辑</a>
								<div class="author">
									<a href="http://36kr.com/posts/guest">
										<span class="avatar before-fade-in after-fade-in" style="background-image: url(http://krid-assets.b0.upaiyun.com/uploads/user/avatar/2690/3e922614-54c6-4d81-8a20-f88964647dda.jpg!320x320);"></span>
										<span class="name">guest</span>
									</a>
									<span class="time">
										&nbsp;•&nbsp;
										<time class="timeago" title="2015-10-08 14:12:10 +0800" datetime="2015-10-08 14:12:10 +0800">21 小时前</time>
									</span>
								</div>
								<div class="brief">
									餐饮行业食材供应链 B2B 市场里面，在生鲜蔬菜供应链和调料粮油等标品供应链的整合可能性的判断上。
								</div>
							</div>
						</article>
<!-- 更多，即下一页 -->
						<a class="load-more J_listLoadMore" href="http://36kr.com/?b_url_code=5038140&d=next" id="info_flows_next_link"></a>
					</div>
				</div>
			</div>

<!-- 侧边栏 -->
			<div class="index-side">
				<div class="fast-section J_fastSection mobile-hide">
					<div class="list J_fastSectionList">
						<div class="tabs J_fastSectionNavBar">
							<a class="active newsflashes_nav" href="http://36kr.com/#" name="fast">快讯</a>
							<a class="next_nav" href="http://36kr.com/#" name="next">NEXT</a>
							<a href="http://36kr.com/#" name="feed">创业动态</a>
						</div>
						<div class="wrap ps-container" style="height: 719px;">
							<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
								<div class="ps-scrollbar-x" style="left: 0px; width: 0px;">									
								</div>
							</div>
							<div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px; height: 463px;">
								<div class="ps-scrollbar-y" style="top: 0px; height: 0px;">									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{template 'content', 'footer'}
	