<html>
<head>

<title>jQuery Tab选项卡插件tabulous.js演示-flip_dowebok.com</title>


<link type="text/css" href="{WEB_PATH}statics/cy/css/tabulous.css" rel="stylesheet">
<script type="text/javascript" src="{WEB_PATH}statics/cy/js/jquery.min2.js"></script>
<script type="text/javascript" src="{WEB_PATH}statics/cy/js/tabulous.js"></script>


<script>
$(function(){
	$('.tabs').tabulous({
		effect: 'flip'
	});
});
</script>
</head>

<body>

<div class="main">
	<div class="mianc">
		<h1>效果4（flip）</h1>

		<!-- Demo start -->
		<div class="tabs">
			<ul>
				<li><a href="#tabs-1" title="">Tab 1</a></li>
				<li><a href="#tabs-2" title="">Tab 2</a></li>
				<li><a href="#tabs-3" title="">Tab 3</a></li>
			</ul>

			<div id="tabs_container">
				<div id="tabs-1">
					<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus.</p>
					<p>Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla<a href="http://www.dowebok.com/"></a>. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
				</div>

				<div id="tabs-2">
					<p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor.</p>
				</div>

				<div id="tabs-3">
					<p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem.</p>
					<p>Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales.</p>
				</div>
			</div>
		</div>
		<!-- Demo end -->

		<p class="vad">
			<a href="http://www.dowebok.com/" target="_blank">dowebok.com</a>
			<a href="http://www.dowebok.com/96.html" target="_blank">说 明</a>
			<a href="http://www.dowebok.com/96.html" target="_blank">下 载</a>
		</p>
	</div>	
</div>

	</body>
	</html>