{template "content","header"}
<!--main-->
<link rel="stylesheet" href="{WEB_PATH}statics/cy/css/commen.css">
<link rel="stylesheet" href="{WEB_PATH}statics/cy/css/list.css">

<div id="main" class="com-width mt90 clearfix">

    <div class="list-wrap fl">

        <div class="articles-list">
            {pc:content action="lists" catid="$catid" num="10" order="id DESC" page="$page"}        
{loop $data $r}
    {if $n==1}
            <div class="content-item-notop content-item clearfix">
    {else}
            <div class="content-item clearfix">
    {/if}
                    <div class="item-img fl">
                        <a href="{$r[url]}" target="_blank">
                            <img src="{thumb($r[thumb],186,118,0)}" alt="" title=""></a>
                    </div>
                    <div class="item-info fr">
                        <h2 class="item-tit">
                            <a href="{$r[url]}" target="_blank">{$r[title]}</a>
                        </h2>
                        <p class="item-intro">{str_cut($r[description],300)}</p>
                        <p class="item-other">
                            <!-- <span class="author fl">{$r[username]}</span> -->
                        <span class="time fr" data-time="{$r[inputtime]}" title="{date('Y-m-d H:i:s',$r[inputtime])}">{date('Y-m-d',$r[inputtime])}</span>
                    </p>
                </div>
            </div>
            <hr>
{/loop}
            <div id="pages" class="page-box">{$pages}</div>
            {/pc}
        </div>
    </div>
    <!--首页右侧-->
    {template 'content', 'rightside'}
    <!--首页右侧-->
    </div>
</div>
{template "content","footer"}