
body {
	margin: 0
}

.maincontent{
	width: 900px;
	margin: 50px auto;	
	background-color: #fff;
	border-radius: 7px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.maincontent h2{
    color: #999;
    font-size: 28px;
    font-weight: 400;
    padding: 30px 30px 22px;
}
.help-main{
	padding: 10px;
}

.help-apply{
	padding: 10px;
}

.help-apply .form-control{
	width: 450px !important;
}

#attachment{
	width: 400px !important;
	margin-right: 20px;
}
#busiplan{
	width: 400px !important;
	margin-right: 20px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block
}

* {
	box-sizing: border-box
}

*:before,
*:after {
	box-sizing: border-box
}

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
	font-family: "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
	font-size: 13px;
	color: #333;	
	background: #e9eaec;
	line-height: 24px;
	position: relative
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit
}
.form-control {
	display: block;
	font-size: 13px;
	line-height: 1.42857143;
	color: #555
}

.form-control {
	width: 100%;
	height: 32px;
	padding: 6px 12px;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}


.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	background-color: #eee;
	opacity: 1
}

.form-control[disabled],
fieldset[disabled] .form-control {
	cursor: not-allowed
}

textarea.form-control {
	height: auto
}

input[type="search"] {
	-webkit-appearance: none
}

.form-group {
	margin-bottom: 15px
}

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical>.btn-group:before,
.btn-group-vertical>.btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
	content: " ";
	display: table
}

.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical>.btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.panel-body:after,
.modal-footer:after {
	clear: both
}


.content-wrap {
	background: #ececec
}

.section-submit-report {
	padding: 30px
}

.section-submit-report .alert {
	padding: 11px 15px;
	text-align: center;
	color: #666
}

.section-submit-report .form-model .form-group {
	margin: 20px 0
}

.section-submit-report .form-model .label-control {
	float: left;
	line-height: 32px;
	text-align: right;
	margin: 0
}

.section-submit-report .form-model .form-controls {
	line-height: 32px
}

.section-submit-report .form-model .form-control {
	float: left
}

.section-submit-report .form-model .w20 {
	width: 20%;
	margin-right: 20px
}

.section-submit-report .form-model textarea {
	width: 100%
}

.section-submit-report .form-model .enter-total {
	float: right;
	display: block;
	color: #999;
	line-height: 32px
}

.section-submit-report .form-model .enter-total i {
	font-style: normal
}

.section-submit-report .form-model .btn-normal {
	width: 140px;
	height: 40px;
	background-color: rgba(0, 138, 245, .8);
	color: #fff;
	font-size: 15px;
	line-height: 40px;
	text-align: center;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 4px;
	display: inline-block
}

.section-submit-report .form-model .btn-normal:hover {
	background-color: #008af5;
	color: #fff
}

.section-submit-report .form-model .label-control {
	width: 180px
}

.section-submit-report .form-model .form-controls {
	margin-left: 200px
}

.section-submit-report .report-con-tips ol {
	background-color: #f7f9ff;
	color: #888;
	padding: 15px 15px 15px 35px;
	border: 1px solid #e4eafd;
	border-radius: 4px
}

.section-submit-report .report-con-tips li {
	list-style: decimal
}

.section-submit-report .report-con-tips.reportTipsShow {
	height: auto;
	overflow: inherit
}

.section-submit-report .report-con-tips:before,
.section-submit-report .report-con-tips:after {
	content: "";
	position: absolute;
	border: 8px solid transparent;
	border-right-color: #e4eafd;
	left: -16px;
	top: 7px
}

.section-submit-report .report-con-tips:after {
	border: 9px solid transparent;
	border-right-color: #f7f9ff;
	top: 6px
}

.section-submit-report .report-company.error {
	border-color: red
}

.section-submit-report textarea {
	resize: vertical
}


.section-my-report,
.section-faq {
	padding: 30px 0
}
.form-group .control-label {
	color: #32353d;
	line-height: 30px;
	padding: 0;
	font-weight: 400;
	width: 140px;
	float: left
}

.form-group .control-label .required {
	margin-left: 5px;
	vertical-align: middle;
	color: red
}

.form-group .label-control {
	float: left;
	width: 134px;
	font-weight: 400;
	text-align: right;
	line-height: 30px
}

.form-group .label-control.label-small {
	width: 43px
}

.form-group .label-control .required {
	margin-left: 5px;
	vertical-align: middle;
	color: red
}

.form-control {
	box-shadow: none
}

	margin: 56px 0 48px
}

