.body-page {
    background-color: #e5e5e5;
}
html * {
    -webkit-font-smoothing: antialiased;
    font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}
* {
    box-sizing: border-box;
}
user agent stylesheetdiv {
    display: block;
}
body {
    font-family: "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    font-size: 13px;
    color: #333;
    background-color: #fff;
}
*:before, *:after {
    box-sizing: border-box;
}
.activity-index {
    border-radius: 2px;
}
div {
    display: block;
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table;
}
*:before, *:after {
    box-sizing: border-box;
}
.activity-index .inner {
    background-color: #fff;
    padding: 75px 180px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.activity-index .inner>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.activity-index .inner>ul>li {
    padding: 24px 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.line-tit {
    font-size: 20px;
    color: #333;
    position: relative;
    padding-left: 15px;
    margin: 0;
}
.line-tit:before {
    content: '';
    width: 7px;
    height: 20px;
    background-color: #008af5;
    left: 0;
    top: 0;
    position: absolute;
}

h3, .h3 {
    font-size: 23px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 18px;
    margin-bottom: 9px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
* {
    box-sizing: border-box;
}
user agent stylesheeth3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.activity-index .answer-con {
    color: #666;
    font-size: 13px;
    line-height: 24px;
    margin-top: 20px;
}

.activity-index p {
    margin: 0;
    font-size: 15px;
}


.container {
    width: 1200px;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}