       

    <div id="member-sidebar" class="member-sidebar fl">
                <h3 class="member-sidebar-tit">个人中心</h3>
                <ul class="member-sibebar-list">
                    <li class="member-item ">
                        <a href="{APP_PATH}index.php?m=member&c=index&a=favorite">
                            <i class="FontAwesome ico-collect">&#xf006;</i>
                            收藏
                        </a>
                    </li>
                    <li class="member-item ">
                        <a href="{APP_PATH}index.php?m=member&c=index&a=comment">
                            <i class="FontAwesome ico-comment">&#xf0e6;</i>
                            评论
                        </a>
                    </li>
                    <li class="member-item show-item">
                        <a href="{APP_PATH}index.php?m=member&c=index&a=account_manage">
                            <i class="FontAwesome ico-setting">&#xf013;</i>
                            设置
                        </a>
                    </li>
                    <li class="member-item ">
                        <a href="{APP_PATH}index.php?m=member&c=index&a=logout">
                            <i class="FontAwesome">&#xf08b;</i>
                            退出
                        </a>
                    </li>
                </ul>
    </div>