{template 'content', 'header'}


<link rel="stylesheet" href="{WEB_PATH}statics/cy/css/commen.css">
<link rel="stylesheet" href="{WEB_PATH}statics/cy/css/member.css" />

<script src="{WEB_PATH}statics/cy/js/jquery.min2.js"></script>
<script src="{WEB_PATH}statics/js/member_common.js"></script>

<div id="main" class="com-width mt20 clearfix">
	<div id="member" class="clearfix">

		{template 'member','account_manage_left'}

		<div id="member-content" class="member-content fr">
			<div class="member-account">
			<script>
				function display(n){
					for (i=1;i<=3;i++){
						if(n==i){
							$("#infobar"+i).addClass("show-item");
							$("#infocontent"+i).removeClass("hide");
						}else{
							$("#infobar"+i).removeClass("show-item");
							$("#infocontent"+i).addClass("hide");
						}
					}
				}
			</script>

				<div class="member-content-hd">
					<span class="ui-tab-tit show-item" onclick="display(1);" id="infobar1">基本资料</span>
					<span class="ui-tab-tit" onclick="display(2);" id="infobar2">修改头像</span>
					<span class="ui-tab-tit" onclick="display(3);" id="infobar3">修改密码</span>
				</div>

				<div class="member-bd mt20">

					<div class="member-account-manage-form show-item" id="infocontent1">
						<div class="form-item">
							<div class="form-item-txt"> <i>*</i>
								邮箱
							</div>
							<input type="text" name="email" placeholder="邮箱" value="{$memberinfo['email']}" disabled="disabled">
						</div>
						<form action="?m=member&c=index&a=account_manage_info" method="post" id="account-manage">
							<div class="form-item">
								<div class="form-item-txt"> <i></i>昵称</div>
								<input type="text" name="nickname" value="{$memberinfo['nickname']}" placeholder="昵称" datatype="*1-16">
							</div>
							<div class="form-item">
								<div class="form-item-txt">手机号码</div>
								<input type="text" value="{$memberinfo['mobile']}" name="mobile" placeholder="请输入11位手机号码" datatype="m" ignore="ignore">
							</div>
							<div class="form-item">
								<div class="form-item-txt">性别</div>
								<div class="fl sex">
									<input type="radio" value="0" name="sex" id="men" {if $memberinfo['sex']==0}checked="checked"{/if}>
									<label for="men">男</label>
									<input type="radio" value="1" name="sex" id="women" {if $memberinfo['sex']==1}checked="checked"{/if}>
									<label for="women">女</label>
								</div>
							</div>

							<div class="form-item">
								<div class="form-item-txt">详细地址</div>
								<input type="text" style="width: 400px;" value="{$memberinfo['address']}" name="address"></div>
							<div class="form-item">
								<div class="form-item-txt">&nbsp;</div>
								<!-- <input type="hidden" value="1" name="dosubmit" /> -->
								<input type="submit" name="dosubmit01" class="form-btn btn-orange account-manage-btn" value="保存"></div>
						</form>
					</div>

					<div class="member-avatar-form hide"  id="infocontent2">
						<table>
							<tbody>
								<tr>
									<td valign="top" align="right">
										<script language="javascript" type="text/javascript" src="{$phpsso_api_url}/statics/js/swfobject.js"></script>
										<script type="text/javascript">
											var flashvars = {
												'upurl':"{$upurl}&callback=return_avatar&"
											}; 
											var params = {
												'align':'middle',
												'play':'true',
												'loop':'false',
												'scale':'showall',
												'wmode':'window',
												'devicefont':'true',
												'id':'Main',
												'bgcolor':'#ffffff',
												'name':'Main',
												'allowscriptaccess':'always'
											}; 
											var attributes = {
												
											}; 
											swfobject.embedSWF("{$phpsso_api_url}/statics/images/main.swf", "myContent", "490", "434", "9.0.0","{$phpsso_api_url}/statics/images/expressInstall.swf", flashvars, params, attributes);

											function return_avatar(data) {
												if(data == 1) {
													window.location.reload();
												} else {
													alert('failure');
												}
											}
										</script>

										<div id="myContent"></div>
									</td>
									<td valign="top">
										<ul class="col-right col-avatar" id="avatarlist" style="margin-left:50px;">
											  {loop $avatar $k $v}
												<li>
													<img src="{$v}" height="{$k}" width="{$k}" onerror="this.src='{$phpsso_api_url}/statics/images/member/nophoto.gif'"><br />
													{L('avatar')}{$k} x {$k}
												</li>
											  {/loop}
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>


					<div class="member-setpasswd-form hide"  id="infocontent3">
						<form action="?m=member&c=index&a=account_manage_info" id="myform" name="myform" method="post" id="account-manage-password">
							<div class="form-item">
								<div class="form-item-txt">当前密码</div>
								<input name="password" type="password" id="password" datatype="*"></div>
							<div class="form-item">
								<div class="form-item-txt">新密码</div>
								<input name="newpassword" type="password" id="newpassword"  datatype="*6-16"></div>
							<div class="form-item">
								<div class="form-item-txt">确认新密码</div>
								<input name="renewpassword" type="password" id="renewpassword" datatype="*6-16" recheck="newpassword"></div>
							<div class="form-item">
								<div class="form-item-txt">&nbsp;</div>
								<!-- <input type="hidden" value="1" name="dosubmit" /> -->
								<input type="submit" name="dosubmit02" class="form-btn btn-orange" value="保存"></div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>


<!-- 
<script src="{WEB_PATH}statics/cy/js/sea.js"></script>
<script src="{WEB_PATH}statics/cy/js/sea_config.js"></script>
<script src="{WEB_PATH}statics/cy/js/seajs-css.js"></script> -->

<!-- {template 'content', 'footer'} -->